{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "globals": {
        "G2": true,
        "__dirname": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "legacyDecorators": true
        }
    },
    "extends": "airbnb",
    "plugins": ["markdown", "react", "babel"],
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    // ["utils", "./src/utils"],
                    // ["tools", "./src/utils/toolLib"],
                    // ["api", "./src/utils/api"],
                    // ["servers", "./src/servers"],
                    ["components", "./src/components"]
                ]
            }
        },
        "react": { "version": "detect" }
    },
    "rules": {
        "semi": [1],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "comma-dangle": [
            1,
            "always-multiline"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "react/jsx-indent": [
            "error",
            4
        ],
        "react/jsx-indent-props": [
            "error",
            4
        ],
        "import/no-unresolved": 0
    }
}
