{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "globals": {
        "G2": true,
        "__dirname": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "legacyDecorators": true
        }
    },
    "extends": [
        "airbnb",
        "plugin:prettier/recommended",
        "plugin:jest/recommended",
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier/react",
        "jest-enzyme"
    ],
    "plugins": ["markdown", "react", "babel", "react-hooks", "jest"],
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    ["@components", "./src/components"],
                    ["@api", "./src/server"],
                    ["@tests", "./tests"],
                    ["moment", "dayjs"]
                ]
            }
        },
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react/jsx-props-no-spreading": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "eslint-disable-next-line": "off"
    }
}
