{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "proseWrap": "never",
    "bracketSpacing": true,
    "overrides": [{
        "files": ".prettierrc",
        "options": {
            "parser": "json"
        }
    }]
}
