{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": [4],
        "selector-pseudo-class-no-unknown": [
            true,
            {
                "ignorePseudoClasses": [
                    "global"
                ]
            }
        ],
        "declaration-block-trailing-semicolon": null
    }
}
