@counterMargin: 10px;
@counterWidth: 60px;
@counterHeight: 30px;
@counterBorderColor: #40a9ff;
@counterBackGroundColor: #fff;

.counterWrap {
    margin-bottom: @counterMargin;
    .flex_layout();

    .text {
        margin-right: @counterMargin;
    }

    .counterContent {
        .flex_layout();

        border: 1px solid @counterBorderColor;

        .num {
            display: inline-block;
            width: @counterWidth;
            text-align: center;
            background: @counterBackGroundColor;
            height: @counterHeight;
            line-height: @counterHeight;
        }
    }
}
